.users-list {
  padding: 5% 10%;
}

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px #272343 solid;
  padding: 20px 40px;
  margin-bottom: 40px;
  box-shadow: 8px 8px 0px #272343;
}

.user-card:hover {
  box-shadow: none;
  transition-duration: 0.4s;
}

.user-name {
  color: #e53170;
}

.delete-icon:hover {
  cursor: pointer;
}
